* {
    box-sizing: border-box;
}

* h1 {
    font-family: 'Raleway', sans-serif;
}

* h2, h3, h4, p, a, blockquote {
    font-family: 'Quicksand', serif;
}

a {
	color: #ff9100;
}

body {
	background-color: #607d8b;
    padding: 50px 0 0 0;
}

.bold {
	font-weight: bold;
}

.icon {
	border-radius: 50%;
}

.modal-dialog {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.modal-dialog:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-content {
	border-radius: 0%;
	border-style: solid 0px;
	background-color: #263238;
	color: #fff;
}

.input-group-addon {
	border: .5px solid #ECEEEF !important;
}

input {
	border: .5px solid #f7f7f7 !important;
}

input:focus {
	border: .5px solid #d50000 !important;
}

