<h1>Incomplete Status:</h1>

<div>
<todo-show todo="vm.selected" ng-show="vm.selected" go-back="vm.displayTable()" on-update="vm.updateTodo(todo)"></todo-show>

	<table class="table" id="todoList" ng-show="vm.showTable">
		<thead>
			<tr scope="row">
				<th>Due Date</th>
				<th>Task</th>
				<th>Description</th>
				<th>Status Complete</th>
				<th>Mark</th>
				<th>Complete Date</th>
				<th colspan="2">Handlinger</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="td in vm.todos | date:'MM/DD/YYYY' | orderBy:'dueDate'">
				<td>{{td.dueDate}}</td>
				<td>{{td.task}}</td>
				<td>{{td.description}}</td>
				<td>{{td.completed}}</td>
				<td><input type="checkbox" name="mark" ng-model="td.completed" ng-change="vm.updateTodo(td)"></td>
				<td>{{td.completeDate}}</td>
				<td class="btn-group"><button type="submit" class="btn btn-warning" ng-click="vm.displayTodo(td)">Redigere</button>
				<button type="submit" class="btn btn-danger" ng-click="vm.deleteTodo(td)">Slette</button></td>
			</tr>
		</tbody>
	</table>

</div>

