<!-- Begin Navbar -->
<nav ng-show="vm.isLoggedIn()" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">

<!-- Collapse Toggler Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle Navigation">
		<span class="navbar-toggler-icon"></span>"
	</button>
	
<!-- Collapse Target -->
	<div class="collapse navbar-collapse" id="navbarLinks">
		<a class="navbar-brand" href="#">TjekTjek</a> 
<!-- FuzzySearch Form -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Søg">
		</form>
		
		
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item"><a class="nav-link" href="#">Hjem</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Statistik</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Indstillinger
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#profile">Profil</a>
					<logout></logout>
				</div>
			</li>
			<li class="nav-item dropdown"><a class="nav-link" href="#contact">Kontakt</a></li>
		</ul>	
		
	</div>
					
</nav>


