<div class="modal-dialog" ng-hide="vm.showRegForm">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Velkommen, Supreme Allied Commander of
				Incomplete Task Annihilation Forces</h2>
			<div class="modal-body">
				<form class="form" id="modal-login">
					<div class="form-group"><h3>Email</h3>
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="email" class="form-control"
								placeholder="email@mail.com" ng-model="user.email" required>
						</div>
					</div>
					
					<div class="form-group"><h3>Password</h3>
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="{{ vm.showPassword ? 'text' : 'password' }}" class="form-control"
								placeholder="adgangskode" ng-model="user.password" required>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.login(user)">Log på, og starte at ødelægge to-do'er</button>
						<button type="submit" class="btn btn-warning btn-lg" ng-click="vm.showRegFormButton()">Opret en konto</button>
					</div>
					
					<a href="mailto:stephen.e.chiang@gmail.com" target="_blank">Har du brug for hjælp? Klik her for forstærkninger!</a>		
				</form>
			</div>
		</div>
	</div>
</div>
"
<div class="modal-dialog" ng-show="vm.showRegForm">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Opret din konto.</h2>
			<div class="modal-body">
				<form class="form" id="modal-reg">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="email" class="form-control"
								placeholder="Bruger Email Adresse" ng-model="user.email" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="glyphicon glyphicon-user"></span>
							</span> <input type="password" class="form-control"
								placeholder="Adgangskode" ng-model="user.password" required>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.login(user)">Tilmelde</button>
					</div>
						
						<a href="#/" ng-click="vm.reload()">Ups! Tilbage til logind.</a>						
				</form>
			</div>
		</div>
	</div>
</div>
