<div class="modal-dialog" ng-hide="vm.showRegForm">
	<div class="modal-content">
		<div class="modal-heading">
			<img class="icon landing" id="landing-icon" src="./Images/todo.png"><br>
			<h1 class="text-center">TjekTjek, den bedste måde at ødelægge dine opgaver.</h1>
	
			<div class="modal-body">
				<form class="form" id="modal-login">
					<div class="form-group"><h3>Email</h3>
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span> 
							<input type="email" class="form-control" placeholder="email@mail.com" ng-model="user.email" required>
						</div>
					</div>
					
					<div class="form-group"><h3>Password</h3>
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
							<input type="{{ vm.showPassword ? 'text' : 'password' }}" class="form-control" placeholder="adgangskode" ng-model="user.password" required>
						</div>
					</div>
					
					<div class="form-group" id="authButtons">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.login(user)">Log på</button>
						<button type="submit" class="btn btn-danger btn-md" ng-click="vm.showRegFormButton()">Opret en konto</button><br>
					</div>
					
					<a class="help" href="mailto:stephen.e.chiang@gmail.com">Har du brug for hjælp? Klik her for forstærkninger!</a>		
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal-dialog" ng-show="vm.showRegForm">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Opret din konto.</h2>
			<div class="modal-body">
				<form class="form" id="modal-reg">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
							<input type="email" class="form-control" placeholder="Bruger Email Adresse" ng-model="user.email" required>
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
							<input type="password" class="form-control" placeholder="Adgangskode" ng-model="user.password" required>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.login(user)">Tilmelde</button>
					</div>
						
						<a href="#/" ng-click="vm.reload()">Ups! Tilbage til logind.</a>						
				</form>
			</div>
		</div>
	</div>
</div>
